* {
  -webkit-tap-highlight-color: transparent;
}
@font-face {
  font-family: 'gogogo';
  src: url('./w12.ttc');
}
body,
html {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
}
.container {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../imgs/department_bg.png);
  background-size: 100% 100%;
}

.departments {
  padding-top: 0.933333rem;
  height: 75%;
  width: 10rem;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}
.asdasda {
  width: 2.666667rem;
  height: 3.733333rem;
  text-decoration: none;
}
.asdasda-img {
  margin-bottom: 0.4rem;
  width: 100%;
  height: 2.4rem;
  border-radius: 0.2rem;
}
.asdasda-name {
  color: #fc7a7a;
  font-size: 0.32rem;
  font-family: 'gogogo';
}

.button {
  display: block;
  width: 4.26666667rem;
  height: 1.62666667rem;
  margin: 0 auto;
  background-image: url(../imgs/index_button.png);
  background-size: 100% 100%;
  background-color: transparent;
  border: none;
}